[build]
  publish = "dist"
  command = "npm install && npm run build"

[build.environment]
  NODE_ENV = "production"

[[redirects]]
  from = "/sw.js"
  to = "/sw.js"
  status = 200
  force = true
  headers = {Service-Worker-Allowed = "/", Cache-Control = "no-cache"}

[[redirects]]
  from = "/registerSW.js" 
  to = "/registerSW.js"
  status = 200
  force = true
  headers = {Service-Worker-Allowed = "/", Cache-Control = "no-cache"}

[[redirects]]
  from = "/manifest.webmanifest"
  to = "/manifest.webmanifest"
  status = 200
  force = true
  headers = {Content-Type = "application/manifest+json"}

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*.js"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.css"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.png"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.svg"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"